#test1{
    background-color:blue;
    
    
}
.text{
    color:white;
}
#bio{
    width: 400px;
    height: 400px ;
}
#quiz{
    background-color: yellowgreen;
}
#q1{
    background-color: purple;
}
#q2{
    background-color: blue;
}
#q3{
    background-color: green;
}
#q4{
    background-color: blueviolet;
}
#q5{
    background-color: royalblue;
}
#end{
    background-color: orangered;
}
#bio{
    background-color: royalblue;
}












